footer.footer
  div.footer__inner
    div.footerLogo curry
    nav.footerMenu
      ul.footerMenu__list
        li.footerMenu__listItem このページについて
        li.footerMenu__listItem 制作過程
        li.footerMenu__listItem 完成
