header.header
  div.header__inner
    h1.headerLogo
      a(href="/201226_newsHelper/")
        | NewsHelper
    nav.headerMenu
      ul.headerMenu__list
        li.headerMenu__listItem
          a.headerMenu__link(href="#about") このページについて
        li.headerMenu__listItem
          a.headerMenu__link(href="#indexLink") 目次
