header.header
  div.header__inner
    div.headerLogo curry
    nav.headerMenu
      ul.headerMenu__list
        li.headerMenu__listItem
          a.headerMenu__link(href="#about") このページについて
        li.headerMenu__listItem
          a.headerMenu__link(href="#cook") 調理過程
        li.headerMenu__listItem
          a.headerMenu__link(href="#dish") 完成
