@use '../_foundation/mixin' as mixin;

.main {
  background-color: #F5F8CA ;

  &__inner {
    @include mixin.sectionWidth();

    padding: 24px;

    @include mixin.mq(tablet) {
      padding: mixin.get_vw(24, 1280);
    }

    @include mixin.mq() {
      padding: mixin.get_vw(12);
    }
  }

  &__title {
    font-size: 3.2rem;
    color: #444;

    @include mixin.mq(tablet) {
      font-size: mixin.get_vw(32, 1280);
    }

    @include mixin.mq() {
      font-size: mixin.get_vw(16);
      text-align: center;
    }
  }
}

.contents {
  padding: 24px;

  @include mixin.mq() {
    padding: mixin.get_vw(24);
  }

  &__table {
    width: 100%;
    font-size: 24px;
    text-align: left;

    @include mixin.mq() {
      font-size: mixin.get_vw(16);
    }
  }

  &__tableData {
    &--date {
      font-size: 12px;
      color: #666;
      text-align: center;

      @include mixin.mq() {
        font-size: mixin.get_vw(12);
      }
    }
  }

  &__table,
  &__tableHead,
  &__tableData {
    padding: 4px;
    border: 2px solid #444;

    @include mixin.mq() {
      padding: mixin.get_vw(4);
      border: mixin.get_vw(2) solid #444;
    }
  }
}
