doctype html
html(lang='ja')
  head
    block variable
      -
        $title = 'NewsHelper 音楽'
        $meta = {
          'description':'新聞やニュースを読む補助とする個人的なメモ',
          'keywords':'',
          'og': {
            'title':'NewsHelper',
            'description':'新聞やニュースを読む補助とする個人的なメモ',
            'url':'',
            'image':'',
            'site_name':'NewsHelper'
          }
        }

    block head
      include ../_modules/_head.pug

  body
    block header
      include ../_modules/_header.pug

    main.main
      div.main__inner
        h2.main__title
          | 音楽(USEN HIT J-POPランキング)
        div.contents
          table.contents__table
            tr
              th.contents__tableHead
                | 曲名
              td.contents__tableData
                | アーティスト
              td.contents__tableData
                | 年
            tr
              th.contents__tableHead
                | 紅蓮華
              td.contents__tableData
                | LiSA
              td.contents__tableData.contents__tableData--date
                | 2020
            tr
              th.contents__tableHead
                | マリーゴールド
              td.contents__tableData
                | あいみょん
              td.contents__tableData.contents__tableData--date
                | 2019
            tr
              th.contents__tableHead
                | U.S.A.
              td.contents__tableData
                | DA PUMP
              td.contents__tableData.contents__tableData--date
                | 2018
            tr
              th.contents__tableHead
                | 恋
              td.contents__tableData
                | 星野源
              td.contents__tableData.contents__tableData--date
                | 2017
            tr
              th.contents__tableHead
                | 花束を君に
              td.contents__tableData
                | 宇多田ヒカル
              td.contents__tableData.contents__tableData--date
                | 2016
            tr
              th.contents__tableHead
                | R.Y.U.S.E.I.
              td.contents__tableData
                | 三代目 J Soul Brothers from EXILE TRIBE
              td.contents__tableData.contents__tableData--date
                | 2015
            tr
              th.contents__tableHead
                | レット・イット・ゴー～ありのままで～
              td.contents__tableData
                | 松たか子
              td.contents__tableData.contents__tableData--date
                | 2014
            tr
              th.contents__tableHead
                | Girl
              td.contents__tableData
                | 秦基博
              td.contents__tableData.contents__tableData--date
                | 2013
            tr
              th.contents__tableHead
                | ビリーヴ
              td.contents__tableData
                | シェネル
              td.contents__tableData.contents__tableData--date
                | 2012
            tr
              th.contents__tableHead
                | また明日...
              td.contents__tableData
                | JUJU
              td.contents__tableData.contents__tableData--date
                | 2011

    block footer
      include ../_modules/_footer.pug

    include ../_modules/_script.pug
