doctype html
html(lang='ja')
  head
    block variable
      -
        $title = 'NewsHelper 小説'
        $meta = {
          'description':'新聞やニュースを読む補助とする個人的なメモ',
          'keywords':'',
          'og': {
            'title':'NewsHelper',
            'description':'新聞やニュースを読む補助とする個人的なメモ',
            'url':'',
            'image':'',
            'site_name':'NewsHelper'
          }
        }

    block head
      include ../_modules/_head.pug

  body
    block header
      include ../_modules/_header.pug

    main.main
      div.main__inner
        h2.main__title
          | 小説(直木賞)
        div.contents
          table.contents__table
            tr
              th.contents__tableHead
                | タイトル
              td.contents__tableData
                | 作者
              td.contents__tableData.contents__tableData--date
                | 年
            tr
              th.contents__tableHead
                | 少年と犬
              td.contents__tableData
                | 馳　星周
              td.contents__tableData.contents__tableData--date
                | 2020 上
            tr
              th.contents__tableHead
                | 熱源
              td.contents__tableData
                | 川越宗一
              td.contents__tableData.contents__tableData--date
                | 2019 下
            tr
              th.contents__tableHead
                | 渦　妹背山婦女庭訓 魂結び
              td.contents__tableData
                | 大島真寿美
              td.contents__tableData.contents__tableData--date
                | 2019 上
            tr
              th.contents__tableHead
                | 宝島
              td.contents__tableData
                | 真藤順丈
              td.contents__tableData.contents__tableData--date
                | 2018 下
            tr
              th.contents__tableHead
                | ファーストラヴ
              td.contents__tableData
                | 島本理生
              td.contents__tableData.contents__tableData--date
                | 2018 上
            tr
              th.contents__tableHead
                | 銀河鉄道の父
              td.contents__tableData
                | 門井慶喜
              td.contents__tableData.contents__tableData--date
                | 2017 下
            tr
              th.contents__tableHead
                | 月の満ち欠け
              td.contents__tableData
                | 佐藤正午
              td.contents__tableData.contents__tableData--date
                | 2017 上
            tr
              th.contents__tableHead
                | 蜜蜂と遠雷
              td.contents__tableData
                | 恩田　陸
              td.contents__tableData.contents__tableData--date
                | 2016 下
            tr
              th.contents__tableHead
                | 海の見える理髪店
              td.contents__tableData
                | 荻原　浩
              td.contents__tableData.contents__tableData--date
                | 2016 上

    block footer
      include ../_modules/_footer.pug

    include ../_modules/_script.pug
