doctype html
html(lang='ja')
  head
    block variable
      -
        $title = 'NewsHelper 日本の主要指標'
        $meta = {
          'description':'新聞やニュースを読む補助とする個人的なメモ',
          'keywords':'',
          'og': {
            'title':'NewsHelper',
            'description':'新聞やニュースを読む補助とする個人的なメモ',
            'url':'',
            'image':'',
            'site_name':'NewsHelper'
          }
        }

    block head
      include ../_modules/_head.pug

  body
    block header
      include ../_modules/_header.pug

    main.main
      div.main__inner
        h2.main__title
          | 日本の主要指標
        div.contents
          table.contents__table
            tr
              th.contents__tableHead
                | 名目GDP
              td.contents__tableData
                | 539兆円
              td.contents__tableData.contents__tableData--date
                | 2020
            tr
              th.contents__tableHead
                | 実質GDP
              td.contents__tableData
                | 527兆円
              td.contents__tableData.contents__tableData--date
                | 2020
            tr
              th.contents__tableHead
                | 1人あたり名目GDP
              td.contents__tableData
                | 3.8万ドル
              td.contents__tableData.contents__tableData--date
                | 2016
            tr
              th.contents__tableHead
                | 輸出額
              td.contents__tableData
                | 76兆円
              td.contents__tableData.contents__tableData--date
                | 2019
            tr
              th.contents__tableHead
                | 輸入額
              td.contents__tableData
                | 78兆円
              td.contents__tableData.contents__tableData--date
                | 2019
            tr
              th.contents__tableHead
                | 新車販売台数
              td.contents__tableData
                | 41万台
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 新設住宅着工戸数
              td.contents__tableData
                | 82万戸
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | マンション発売戸数(首都圏)
              td.contents__tableData
                | 2790戸
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 有効求人倍率
              td.contents__tableData
                | 1.06倍
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 外貨準備高
              td.contents__tableData
                | 1兆3846億ドル
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 企業倒産件数
              td.contents__tableData
                | 569件
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 消費者物価指数
              td.contents__tableData
                | 101.2
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 新発10年国債利回り
              td.contents__tableData
                | 年利 0.03 %
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 日経平均株価
              td.contents__tableData
                | 2万5385円
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 上場株時価総額(東証1部)
              td.contents__tableData
                | 667.73兆円
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 円相場(対ドル)
              td.contents__tableData
                | 1ドル = 104.4円
              td.contents__tableData.contents__tableData--date
                | 2020/11
            tr
              th.contents__tableHead
                | 円相場(対ユーロ)
              td.contents__tableData
                | 1ユーロ = 123.56円
              td.contents__tableData.contents__tableData--date
                | 2020/11

    block footer
      include ../_modules/_footer.pug

    include ../_modules/_script.pug
