doctype html
html(lang='ja')
  head
    block variable
      -
        $title = 'NewsHelper 映画'
        $meta = {
          'description':'新聞やニュースを読む補助とする個人的なメモ',
          'keywords':'',
          'og': {
            'title':'NewsHelper',
            'description':'新聞やニュースを読む補助とする個人的なメモ',
            'url':'',
            'image':'',
            'site_name':'NewsHelper'
          }
        }

    block head
      include ../_modules/_head.pug

  body
    block header
      include ../_modules/_header.pug

    main.main
      div.main__inner
        h2.main__title
          | 映画
        div.contents
          table.contents__table
            tr
              th.contents__tableHead
                | 鬼滅の刃
              td.contents__tableData
                | 億円
              td.contents__tableData.contents__tableData--date
                | 2020
            tr
              th.contents__tableHead
                | 天気の子
              td.contents__tableData
                | 135億円
              td.contents__tableData.contents__tableData--date
                | 2019
            tr
              th.contents__tableHead
                | ボヘミアン・ラプソディ
              td.contents__tableData
                | 130億円
              td.contents__tableData.contents__tableData--date
                | 2018
            tr
              th.contents__tableHead
                | 美女と野獣
              td.contents__tableData
                | 124億円
              td.contents__tableData.contents__tableData--date
                | 2017
            tr
              th.contents__tableHead
                | 君の名は。
              td.contents__tableData
                | 250億円
              td.contents__tableData.contents__tableData--date
                | 2016
            tr
              th.contents__tableHead
                | ジュラシック・ワールド
              td.contents__tableData
                | 95億円
              td.contents__tableData.contents__tableData--date
                | 2015
            tr
              th.contents__tableHead
                | アナと雪の女王
              td.contents__tableData
                | 254億円
              td.contents__tableData.contents__tableData--date
                | 2014
            tr
              th.contents__tableHead
                | 風立ちぬ
              td.contents__tableData
                | 120億円
              td.contents__tableData.contents__tableData--date
                | 2013
            tr
              th.contents__tableHead
                | BRAVE HEARTS 海猿
              td.contents__tableData
                | 73億円
              td.contents__tableData.contents__tableData--date
                | 2012
            tr
              th.contents__tableHead
                | ハリー･ポッターと死の秘宝 PART2
              td.contents__tableData
                | 96億円
              td.contents__tableData.contents__tableData--date
                | 2011

    block footer
      include ../_modules/_footer.pug

    include ../_modules/_script.pug
