doctype html
html(lang='ja')
  head
    block variable
      -
        $title = 'NewsHelper 漫画'
        $meta = {
          'description':'新聞やニュースを読む補助とする個人的なメモ',
          'keywords':'',
          'og': {
            'title':'NewsHelper',
            'description':'新聞やニュースを読む補助とする個人的なメモ',
            'url':'',
            'image':'',
            'site_name':'NewsHelper'
          }
        }

    block head
      include ../_modules/_head.pug

  body
    block header
      include ../_modules/_header.pug

    main.main
      div.main__inner
        h2.main__title
          | 漫画(マンガ大賞)
        div.contents
          table.contents__table
            tr
              th.contents__tableHead
                | タイトル
              td.contents__tableData
                | 作者
              td.contents__tableData.contents__tableData--date
                | 年
            tr
              th.contents__tableHead
                | 彼方のアストラ
              td.contents__tableData
                | 篠原健太
              td.contents__tableData.contents__tableData--date
                | 2019
            tr
              th.contents__tableHead
                | BEASTARS
              td.contents__tableData
                | 板垣巴留
              td.contents__tableData.contents__tableData--date
                | 2018
            tr
              th.contents__tableHead
                | 響～小説家になる方法～
              td.contents__tableData
                | 柳本光晴
              td.contents__tableData.contents__tableData--date
                | 2017
            tr
              th.contents__tableHead
                | ゴールデンカムイ
              td.contents__tableData
                | 野田サトル
              td.contents__tableData.contents__tableData--date
                | 2016
            tr
              th.contents__tableHead
                | かくかくしかじか
              td.contents__tableData
                | 東村アキコ
              td.contents__tableData.contents__tableData--date
                | 2015
            tr
              th.contents__tableHead
                | 乙嫁語り
              td.contents__tableData
                | 森薫
              td.contents__tableData.contents__tableData--date
                | 2014
            tr
              th.contents__tableHead
                | 海街diary
              td.contents__tableData
                | 吉田秋生
              td.contents__tableData.contents__tableData--date
                | 2013
            tr
              th.contents__tableHead
                | 銀の匙 Silver Spoon
              td.contents__tableData
                | 荒川弘
              td.contents__tableData.contents__tableData--date
                | 2012
            tr
              th.contents__tableHead
                | ３月のライオン
              td.contents__tableData
                | 羽海野チカ
              td.contents__tableData.contents__tableData--date
                | 2011

    block footer
      include ../_modules/_footer.pug

    include ../_modules/_script.pug
