section.cook#cook
  div.cook__inner
    h2.cookTitle 調理過程
    ul.cookContents
      li.cookContents__cassete
        div.cookContents__imgWrapper
          img.cookContents__image(src="https://kow-ystk.github.io/200920-curry/assets/images/curry_5033.jpg", alt="玉ねぎを炒める")
        div.cookContents__txtWrapper
          h3.cookContents__title 玉ねぎを炒める
          p.cookContents__txt
            | ピュアオリーブオイルで、みじん切りにした玉ねぎを炒めます。
            br
            | きつね色くらいまで色が変わるのが目安です。
      li.cookContents__cassete
        div.cookContents__imgWrapper
          img.cookContents__image(src="https://kow-ystk.github.io/200920-curry/assets/images/curry_4990.jpg", alt="他の野菜も炒める")
        div.cookContents__txtWrapper
          h3.cookContents__title 他の野菜も炒める
          p.cookContents__txt
            | 他の野菜も投入します。
            br
            | 定番である人参の他に、トマトやかぼちゃを入れていますがお好みです。
            br
            | トマトを入れた場合は、後の工程で水をあまり入れなくて良いかもしれません。
      li.cookContents__cassete
        div.cookContents__imgWrapper
          img.cookContents__image(src="https://kow-ystk.github.io/200920-curry/assets/images/curry_5034.jpg", alt="鶏肉も炒める")
        div.cookContents__txtWrapper
          h3.cookContents__title 鶏肉も炒める
          p.cookContents__txt
            | 鶏肉も投入します。
            br
            | 蓋をして、火を十分に通すように気をつけてください。
      li.cookContents__cassete
        div.cookContents__imgWrapper
          img.cookContents__image(src="https://kow-ystk.github.io/200920-curry/assets/images/curry_4991.jpg", alt="スパイスを投入")
        div.cookContents__txtWrapper
          h3.cookContents__title スパイスを投入
          p.cookContents__txt
            | 具材が十分に炒まったところでスパイスを投入します。
            br
            | クミン、ターメリック、コリアンダー、カイエンペッパーの4種類があれば十分です。
            br
            | コリアンダーの入れすぎは、爽やかな感じが出すぎてしまうので気をつけてください。