section.dish#dish
  div.dish__inner
    h2.dishTitle 完成
    div.dishContents
      div.dishContents__imgWrapper
        img.dishContents__image(src="https://kow-ystk.github.io/200920-curry/assets/images/curry_5036.jpg", alt="完成")
      div.dishContents__txtWrapper
        p.dishContents__txt
          | スパイスカレーの完成です!!
          br
          | カレールーを使わずに自分で作った達成感は格別です。
          br
          | 慣れてきたら、カルダモンやクローブなど他のスパイスも足してみたりしてオリジナルの調合を楽しみましょう！
