section.indexLink#indexLink
  div.indexLink__inner
    h2.indexLinkTitle 目次
    div.indexLinkContents
      a.indexLinkContents__link(href="")
        | 日本の主要指標
      a.indexLinkContents__link(href="")
        | 日本企業
      a.indexLinkContents__link(href="")
        | 海外企業
      a.indexLinkContents__link(href="")
        | 各国の首脳・財務大臣・中央銀行総裁
      a.indexLinkContents__link(href="")
        | 音楽
      a.indexLinkContents__link(href="")
        | 映画
      a.indexLinkContents__link(href="")
        | ドラマ
      a.indexLinkContents__link(href="")
        | アニメ
      a.indexLinkContents__link(href="")
        | 漫画
      a.indexLinkContents__link(href="")
        | 書籍
      a.indexLinkContents__link(href="")
        | 小説
