section.indexLink#indexLink
  div.indexLink__inner
    h2.indexLinkTitle 目次
    div.indexLinkContents
      a.indexLinkContents__link(href="/japan-data/")
        | 日本の主要指標
      a.indexLinkContents__link(href="/japan-company/")
        | 日本企業
      a.indexLinkContents__link(href="/world-company/")
        | 海外企業
      a.indexLinkContents__link(href="/world-summit/")
        | 各国の首脳・財務大臣・中央銀行総裁
      a.indexLinkContents__link(href="/music/")
        | 音楽
      a.indexLinkContents__link(href="/movie")
        | 映画
      a.indexLinkContents__link(href="/tv-series/")
        | ドラマ
      a.indexLinkContents__link(href="/anime/")
        | アニメ
      a.indexLinkContents__link(href="/comics/")
        | 漫画
      a.indexLinkContents__link(href="/book/")
        | 書籍
      a.indexLinkContents__link(href="/novel/")
        | 小説
