section.indexLink#indexLink
  div.indexLink__inner
    h2.indexLinkTitle 目次
    div.indexLinkContents
      ul.indexLinkContents__list
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/japan-data/")
            | 日本の主要指標
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/japan-company/")
            | 日本企業
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/world-company/")
            | 海外企業
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/world-summit/")
            | 各国の首脳・財務大臣・中央銀行総裁
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/music/")
            | 音楽
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/movie")
            | 映画
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/tv-series/")
            | ドラマ
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/anime/")
            | アニメ
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/comics/")
            | 漫画
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/book/")
            | 書籍
        li.indexLinkContents__listItem
          a.indexLinkContents__link(href="/201226_newsHelper/novel/")
            | 小説
