doctype html
html(lang='ja')
  head
    block variable
      -
        $title = 'NewsHelper 各国の首脳・財務大臣・中央銀行総裁'
        $meta = {
          'description':'新聞やニュースを読む補助とする個人的なメモ',
          'keywords':'',
          'og': {
            'title':'NewsHelper',
            'description':'新聞やニュースを読む補助とする個人的なメモ',
            'url':'',
            'image':'',
            'site_name':'NewsHelper'
          }
        }

    block head
      include ../_modules/_head.pug

  body
    block header
      include ../_modules/_header.pug

    main.main
      div.main__inner
        h2.main__title
          | 各国の首脳・財務大臣・中央銀行総裁
        div.contents
          table.contents__table
            tr
              th.contents__tableHead
                | 国
              th.contents__tableHead
                | 首脳
              th.contents__tableHead
                | 副首脳
              th.contents__tableHead
                | 財務大臣
              th.contents__tableHead
                | 外務大臣
              th.contents__tableHead
                | 中央銀行総裁
            tr
              th.contents__tableHead
                | 日本
              td.contents__tableData
                | 菅 義偉
              td.contents__tableData
                | 麻生太郎
              td.contents__tableData
                | 麻生太郎
              td.contents__tableData
                | 茂木敏充
              td.contents__tableData
                | 黒田東彦
            tr
              th.contents__tableHead
                | 米国
              td.contents__tableData
                | ドナルド・トランプ
              td.contents__tableData
                | マイク・ペンス
              td.contents__tableData
                | スティーブン・ムニューシン
              td.contents__tableData
                | マイク・ポンペオ
              td.contents__tableData
                | ジェローム・パウエル
            tr
              th.contents__tableHead
                | EU
              td.contents__tableData
                | サッソリ
              td.contents__tableData
                | ライエン
              td.contents__tableData
                | -
              td.contents__tableData
                | -
              td.contents__tableData
                | クリスティーヌ・ラガルド
            tr
              th.contents__tableHead
                | 独
              td.contents__tableData
                | アンゲラ・ドロテア・メルケル
              td.contents__tableData
                | -
              td.contents__tableData
                | -
              td.contents__tableData
                | -
              td.contents__tableData
                | -
            tr
              th.contents__tableHead
                | 英
              td.contents__tableData
                | ボリス・ジョンソン
              td.contents__tableData
                | -
              td.contents__tableData
                | -
              td.contents__tableData
                | -
              td.contents__tableData
                | -
            tr
              th.contents__tableHead
                | 仏
              td.contents__tableData
                | エマニュエル・マクロン
              td.contents__tableData
                | -
              td.contents__tableData
                | -
              td.contents__tableData
                | -
              td.contents__tableData
                | -

    block footer
      include ../_modules/_footer.pug

    include ../_modules/_script.pug
