doctype html
html(lang='ja')
  head
    block variable
      -
        $title = 'NewsHelper ドラマ'
        $meta = {
          'description':'新聞やニュースを読む補助とする個人的なメモ',
          'keywords':'',
          'og': {
            'title':'NewsHelper',
            'description':'新聞やニュースを読む補助とする個人的なメモ',
            'url':'',
            'image':'',
            'site_name':'NewsHelper'
          }
        }

    block head
      include ../_modules/_head.pug

  body
    block header
      include ../_modules/_header.pug

    main.main
      div.main__inner
        h2.main__title
          | ドラマ
        div.contents
          table.contents__table
            tr
              th.contents__tableHead
                | スカーレット
              td.contents__tableData.contents__tableData--date
                | 2019
            tr
              th.contents__tableHead
                | まんぷく
              td.contents__tableData.contents__tableData--date
                | 2018
            tr
              th.contents__tableHead
                | ドクターX〜外科医・大門未知子〜 第5シリーズ
              td.contents__tableData.contents__tableData--date
                | 2017
            tr
              th.contents__tableHead
                | ドクターX〜外科医・大門未知子〜 第4シリーズ
              td.contents__tableData.contents__tableData--date
                | 2016
            tr
              th.contents__tableHead
                | 下町ロケット
              td.contents__tableData.contents__tableData--date
                | 2015
            tr
              th.contents__tableHead
                | ドクターX〜外科医・大門未知子〜 第3シリーズ
              td.contents__tableData.contents__tableData--date
                | 2014
            tr
              th.contents__tableHead
                | 半沢直樹
              td.contents__tableData.contents__tableData--date
                | 2013
            tr
              th.contents__tableHead
                | 踊る大捜査線 THE LAST TV サラリーマン刑事と最後の難事件
              td.contents__tableData.contents__tableData--date
                | 2012
            tr
              th.contents__tableHead
                | 家政婦のミタ
              td.contents__tableData.contents__tableData--date
                | 2011

    block footer
      include ../_modules/_footer.pug

    include ../_modules/_script.pug
